body {
    margin: 0;
    border: 0;
    display: flex;
    height: 100vh;
    flex-direction: column;
    background: #000;
  }
  .nav {
    background: #000;
    padding: 30px;
    font-size: 12px;
    position: sticky;
    top: 0;
    z-index: 5;
  }
  .nav-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .nav-link {
    opacity: 0.65;
    font-family: system-ui;
    color: #fff;
    font-weight: 200;
    letter-spacing: 2px;
    text-decoration: none;
  }
  .nav-link:hover {
    opacity: 1;
  }
  .footer {
    background: #000;
    text-align: center;
    font-size: 12px;
    line-height: 40px;
  }
  .footer-container {
    padding: 30px;
  }
  .footer-link {
    display: block;
    opacity: 0.65;
    font-family: system-ui;
    color: #fff;
    font-weight: 200;
    letter-spacing: 2px;
    text-decoration: none;
  }
  .footer-link:hover {
    opacity: 1;
  }
  .footer-credits {
    font-family: system-ui;
    color: #fff;
    font-weight: 100;
  }
  .content {
    color: #fff;
    display: block;
    background: #000;

    font-family: system-ui;
    font-weight: 200;
    text-align: center;
  }
  .content-container{
    border: 0.5px solid #9a9a9a;
    padding: 30px;
    border-radius: 50px;
    font-size: 20px;
  }
  .container {
    margin: 0 auto;
    max-width: 940px;
    padding: 10 10px;
    margin-bottom: 40px;
  }
  .header {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.57), #000), url(https://i.ibb.co/6Y7RfGX/IMG-7535-auto-x2.jpg) no-repeat center center;
    background-size: cover;
    height: 100px;
    text-align: center;
    font-family: system-ui;
    font-size: 40px;
    padding-top: 10;
  }
  .header h1 {
    color: #fff;
    line-height: 100px;
    font-size: 80px;
    margin-top: 110px;
    margin-bottom: 40px;
    text-transform: uppercase;
    filter: drop-shadow(5px 5px 10px #000);
  }
  .header p {
    color: #fff;
    font-weight: 500;
    letter-spacing: 8px;
    margin-bottom: 40px;
    margin-top: 0;
    text-transform: uppercase;
    filter: drop-shadow(5px 5px 10px #000);
  }
  .btn {
    color: #fff;
    background: #000;
    padding: 10px 40px;
    text-decoration: none;
    border-radius: 20px;
    transition: background 0.5s;
  }
  .btn:hover{
    background: #ff315a;
    cursor: default;
    transition: background 0.5s;
  }

  .containerp {
    display: flex;
    width: 100%;
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 40px;
    padding-bottom: 40px;
    padding-left: 40px;
    justify-content: space-between;
    align-items: center;
  }
  .photography-wrapper-03 {
    position: absolute;
    right: 40px;
    bottom: 0px;
    z-index: 1;
    box-shadow: 7px 7px 20px 0 transparent;
    transition: box-shadow 200ms ease, z-index 200ms ease, transform 200ms ease;
  }
  
  .photography-wrapper-03:hover {
    box-shadow: 7px 7px 20px 0 rgba(0, 0, 0, 0.3);
    transform: translate(-5px, -5px);
  }
  
  .photography-wrapper-02 {
    position: absolute;
    z-index: 2;
    box-shadow: 7px 7px 20px 0 transparent;
    transition: box-shadow 200ms ease, transform 200ms ease;
  }
  
  .photography-wrapper-02:hover {
    box-shadow: 7px 7px 20px 0 rgba(0, 0, 0, 0.3);
    transform: translate(-2px, -2px);
  }
  
  .photography-container {
    position: relative;
    display: flex;
    height: 480px;
    min-width: 600px;
    justify-content: center;
    align-items: center;
  }

  .photography {
    border-radius: 5px;
    box-shadow: 14px 14px 30px -15px rgba(71, 71, 71, 0.7);
  }
  
  .photography-wrapper {
    position: absolute;
    left: 40px;
    top: 60px;
    z-index: 1;
    box-shadow: 7px 7px 20px 0 rgba(0, 0, 0, 0.45);
    transition: box-shadow 200ms ease, z-index 200ms ease, transform 800ms cubic-bezier(.165, .84, .44, 1);
  }
  
  .photography-wrapper:hover {
    box-shadow: 7px 7px 20px 0 rgba(0, 0, 0, 0.3);
    transform: translate(-5px, -5px);
  }


  .information {
    max-width: 500px;
    align-self: center;
  }


  .information {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    padding-top: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
  }
  .information {
    max-width: 100%;
    margin-top: 20px;
  }
  @media screen and (max-width: 390px) {
    .header h1 {
        font-size: 50px;
   }
    .header p {
        font-size: 10px;
   }
    .btn {
        font-size: 14px;
   }
  }
  