body {
    margin: 0;
    border: 0;
    display: flex;
    height: 100vh;
    flex-direction: column;
    background: #000;
  }
  .footer {
    background: #000000;
    margin-top: auto;
    text-align: center;
    font-size: 12px;
    line-height: 40px;
  }
  .footer-container {
    padding: 30px;
  }
  .footer-link {
    display: block;
    margin-bottom: 20px;
    opacity: 0.65;
    font-family: system-ui;
    color: #fff;
    font-weight: 200;
    letter-spacing: 2px;
    text-decoration: none;
  }
  .footer-link:hover {
    opacity: 1;
  }
  .footer-credits {
    font-family: system-ui;
    color: #fff;
    font-weight: 100;
  }
  .content {
    color: #fff;
    display: block;
    padding: 30px;
    margin-top: auto;
    background: #000;
    font-family: system-ui;
    font-weight: 200;
    text-align: center;
  }
  .content-container{
    border: 0.5px solid #9a9a9a;
    padding: 30px;
    border-radius: 50px;
    font-size: 20px;
  }
  .container {
    margin: 0 auto;
    max-width: 940px;
    padding: 10 10px;
    margin-bottom: 40px;
  }
  .header {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.3), #000), url(https://i.ibb.co/6Y7RfGX/IMG-7535-auto-x2.jpg) no-repeat center center;
    background-size: cover;
    height: 100px;
    text-align: center;
    font-family: system-ui;
    font-size: 40px;
    padding-top: 10;
  }
  .header h1 {
    color: #fff;
    line-height: 100px;
    font-size: 80px;
    margin-top: 110px;
    margin-bottom: 40px;
    text-transform: uppercase;
    filter: drop-shadow(5px 5px 10px #000);
  }
  .header p {
    color: #fff;
    font-weight: 500;
    letter-spacing: 8px;
    margin-bottom: 40px;
    margin-top: 0;
    text-transform: uppercase;
    filter: drop-shadow(5px 5px 10px #000);
  }
  .btn {
    color: #fff;
    background: #000;
    padding: 10px 40px;
    text-decoration: none;
    border-radius: 20px;
    transition: background 0.5s;
  }
  .btn:hover{
    background: #ff315a;
    cursor: default;
    transition: background 0.5s;
  }
  
  input {
    width: 50%;
    height: 50px;
    resize: none;
    margin-bottom: 20px;
  }
  .nav {
    background: #000;
    padding: 30px;
    font-size: 12px;
    position: sticky;
    top: 0;
    z-index: 5;
  }
  .nav-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .nav-link {
    opacity: 0.65;
    font-family: system-ui;
    color: #fff;
    font-weight: 200;
    letter-spacing: 2px;
    text-decoration: none;
  }
  .nav-link:hover {
    opacity: 1;
  }
  
  @media screen and (max-width: 590px) {
    .header h1 {
        font-size: 200%;
   }
    .header p {
        font-size: 10px;
   }
  }
  