<html>
   <link href='../static/anon.css' rel='stylesheet' />
   <body>
      <div class="nav">
         <nav class="nav-menu">
            <a href="home" class="nav-link w--current">Home</a>
            <a href="courseteam" class="nav-link">Course team</a>
            <a href="feedback" class="nav-link">Anon Feedback</a>
            <a href="labs" class="nav-link">Labs</a>
            <a href="assignments" class="nav-link">Assignments</a>
            <a href="instructor-viewgrades" class="nav-link">Grades</a>
            <a href="https://markus.utsc.utoronto.ca/cscb20w22" target="_blank" class="nav-link">Markus</a>
            <a href="https://piazza.com/utoronto.ca/winter2022/cscb20h3" target="_blank" class="nav-link">Piazza</a>
            <a href="/" class="nav-link w--current">Log out</a>
         </nav>
      </div>
      <div class="header">
         <h1>Anonymous Feedback</h1>
      </div>
      <div class="content">
         <div class="content-container">
            <h2>Reach out!</h2>
            <p>We're here to help you get the most out of this course. Share your thoughts and the course team will weigh in to improve your learning experience.</p>
            <form method="POST">
               <textarea placeholder="Your intended instructor" maxlength="180" name="instructor" rows="3" cols="10" required></textarea>
               <br><br>
               <textarea placeholder="Enter your feedback" maxlength="5000" name="message" rows="10" cols="100" required></textarea>
               <br><br>
               <input type="submit" value="Submit">
            </form>
         </div>
      </div>
      <div class="footer">
         <div class="footer-container">
            <a href="https://www.utsc.utoronto.ca/cms/faculty-of-computer-science" target="_blank" class="footer-link">Faculty of Computer Science at the University of Toronto Scarborough</a> 
            <div class="footer-credits"> &copy; Site by Roa Brahimi | Aniqa Khan | Zaamin Rattansi</div>
         </div>
      </div>
   </body>
</html>