<html>
   <link href='../static/asgmt.css' rel='stylesheet' />
   <body>
      <div class="nav">
         <nav class="nav-menu">
            <a href="home" class="nav-link w--current">Home</a>
            <a href="courseteam-student" class="nav-link">Course team</a>
            <a href="feedback" class="nav-link">Anon Feedback</a>
            <a href="labs-student" class="nav-link">Labs</a>
            <a href="assignments-student" class="nav-link">Assignments</a>
            <a href="/student-marks" class="nav-link">Grades</a>
            <a href="https://markus.utsc.utoronto.ca/cscb20w22" target="_blank" class="nav-link">Markus</a>
            <a href="https://piazza.com/utoronto.ca/winter2022/cscb20h3" target="_blank" class="nav-link">Piazza</a>
            <a href="/" class="nav-link w--current">Log out</a>
         </nav>
      </div>
      <div class="header">
         <div class="container">
            <p>Assignments</p>
         </div>
      </div>
      <div class="content">
         <div class="content-container">
            <h1> Overview </h1>
            <p>Here are the assignment and exercise topics, weights, and due dates. I will be posting the exercise and assignment handouts here. All exercises and assignments will be submitted on <a href="https://markus.utsc.utoronto.ca/cscb20w22" target="_blank" class="text-link">Markus</a>. </p>
         </div>
      </div>
      <div class="grid assignments">
        <div class="text-block first"> </div>
        <div class="text-block">1</div>
        <div class="text-block">2</div>
        <div class="text-block">3</div>
        <div class="text-block">Exercise</div>
        <div class="text-block">
          <a class="text-link" target="_blank" href="../static/documents/dummy.pdf">Handout</a>
        </div>
        <div class="text-block">
          <a class="text-link" target="_blank" href="../static/documents/dummy.zip">Handout a2.zip</a>
        </div>
        <div class="text-block">
          <a class="text-link" target="_blank" href="../static/documents/dummy.pdf">Marking Scheme for A3 Handout</a>
        </div>
        <div class="text-block">Topic (tentative)</div>
        <div class="text-block">Relational Algebra and MySQL</div>
        <div class="text-block">HTML, CSS, PHP<br></div>
        <div class="text-block">Web Application and Database</div>
        <div class="text-block">Weight</div>
        <div class="text-block">15%</div>
        <div class="text-block">15%</div>
        <div class="text-block">15%</div>
        <div class="text-block">Due Date</div>
        <div class="text-block">Part 1. Wednesday Feb. 1, 11.59pm, Submit to
          <a><a class="text-link" target="_blank" href="https://markus.utsc.utoronto.ca/cscb20w22">MarkUs</a></a><br>UPDATED Part 2 and 3. For 5% bonus Saturday Feb. 11, 11.59pm or Friday Feb. 17, 11.59 Submit to 
          <a class="text-link" target="_blank" href="https://markus.utsc.utoronto.ca/cscb20w22">MarkUs</a> You can download a dumpfile for IMDB_SMALL
          <a target="_blank" href="../static/documents/dummy.sql" class="text-link">here</a>.<br>To use it type mysql -u utorid -p IMDB_SMALL.sql
        </div>
        <div class="text-block">Part 1: Worth 50% Friday March. 10, 11.59pm, Submit to 
          <a class="text-link" target="_blank" href="https://markus.utsc.utoronto.ca/cscb20w22">MarkUs</a><br>Part 2: Worth 50% Friday March. 19, 11.59pm, Submit to
          <a class="text-link" target="_blank" href="https://markus.utsc.utoronto.ca/cscb20w22">MarkUs</a>        </div>
        <div class="text-block">Friday March 31, 11.59pm</div>
        <div class="text-block">Solution</div>
        <div class="text-block">
        <a class="text-link" target="_blank" href="../static/documents/dummy.pdf">Solution Part 1</a>
        </div>
        <div class="text-block">
          <a> </a>
        </div>
        <div class="text-block">
          <a> </a>
        </div>
      </div>
            <div class="content">
         <div class="content-container">
            <h2>FAQ - Assignment 1</h2>
<p>Q. If the mysql portion asks for a director or actor without specifying which attributes, what should I return?<br>
A. Return the first name, last name.</p>
         </div>
      </div>
      <div class="footer">
         <div class="footer-container">
            <a href="https://www.utsc.utoronto.ca/cms/faculty-of-computer-science" target="_blank" class="footer-link">Faculty of Computer Science at the University of Toronto Scarborough</a> 
            <div class="footer-credits"> &copy; Site by Roa Brahimi | Aniqa Khan | Zaamin Rattansi</div>
         </div>
      </div>
</body>
</html>