<html>
   <link href='../static/courseteam.css' rel='stylesheet' />
   <body>
      <div class="nav">
         <nav class="nav-menu">
            <a href="home" class="nav-link w--current">Home</a>
            <a href="courseteam-student" class="nav-link">Course team</a>
            <a href="feedback" class="nav-link">Anon Feedback</a>
            <a href="labs-student" class="nav-link">Labs</a>
            <a href="assignments-student" class="nav-link">Assignments</a>
            <a href="/student-marks" class="nav-link">Grades</a>
            <a href="https://markus.utsc.utoronto.ca/cscb20w22" target="_blank" class="nav-link">Markus</a>
            <a href="https://piazza.com/utoronto.ca/winter2022/cscb20h3" target="_blank" class="nav-link">Piazza</a>
            <a href="/" class="nav-link w--current">Log out</a>
         </nav>
      </div>
      <div class="header">
         <div class="container">
            <p>Course Team</p>
         </div>
      </div>
      <div class="content">
         <div class="container">
            <div class="information">
               <h1>Instructor</h1>
               <p>Dr. Sheila Oneal	<br></br>
                  Email:	sheila@utsc.oneal.ca<br></br>
                  Office:	IC493<br></br>
                  Phone Number: 555-555-5555<br></br>
                  Lectures: Th 12-2 in HW 216<br></br>
                  Office Hours: M 10-12<br></br>
               </p>
               <h1>TAs</h1>
               <div class="photography-container">
                  <a class="photography-wrapper w-inline-block"><p> Darlene Smith	<br></br>
                     Email:	jane@utsc.smith.ca<br></br>
                     Phone Number: 555-555-5555<br></br>
                     Office Hours: W 1-2<br></br>
                  </p></a>

                  <a class="photography-wrapper-03 w-inline-block"><p> John Alderson	<br></br>
                     Email:	sheila@utsc.oneal.ca<br></br>
                     Phone Number: 555-555-5555<br></br>
                     Office Hours: F 10-12<br></br>
                  </p></a>

               </div>

               <div class="photography-container">
                  <a class="photography-wrapper w-inline-block"><img src="../static/Assets/nft1.png" width="245" sizes="(max-width: 479px) 67vw, 245px" alt="" class="photography"></a>
                  <a class="photography-wrapper-02 w-inline-block"><img src="../static/Assets/nft2.png" width="308" sizes="(max-width: 479px) 67vw, 308px" alt="" class="photography"></a>
                  <a class="photography-wrapper-03 w-inline-block"><img src="../static/Assets/nft3.png" width="186" sizes="(max-width: 479px) 67vw, 186px" alt="" class="photography"></a>       
               </div>
            </div>
         </div>
      </div>
      <div class="footer">
         <div class="footer-container">
            <a href="https://www.utsc.utoronto.ca/cms/faculty-of-computer-science" target="_blank" class="footer-link">Faculty of Computer Science at the University of Toronto Scarborough</a> 
            <div class="footer-credits"> &copy; Site by Roa Brahimi | Aniqa Khan | Zaamin Rattansi</div>
         </div>
      </div>
   </body>
</html>