<html>
   <link href='../static/courseteam.css' rel='stylesheet' />
   <body>
      <div class="nav">
         <nav class="nav-menu">
            <a href="home" class="nav-link w--current">Home</a>
            <a href="courseteam-student" class="nav-link">Course team</a>
            <a href="feedback" class="nav-link">Anon Feedback</a>
            <a href="labs-student" class="nav-link">Labs</a>
            <a href="assignments-student" class="nav-link">Assignments</a>
            <a href="/student-marks" class="nav-link">Grades</a>
            <a href="https://markus.utsc.utoronto.ca/cscb20w22" target="_blank" class="nav-link">Markus</a>
            <a href="https://piazza.com/utoronto.ca/winter2022/cscb20h3" target="_blank" class="nav-link">Piazza</a>
            <a href="/" class="nav-link w--current">Log out</a>
         </nav>
      </div>
      <div class="header">
        <div class="container">
           <p>Course Team</p>
        </div>
        
    </div>
    <div class="content">
        <div class="content-container">
           <h1>Instructor</h1>
           <img src="./Assets/purvapic.png" alt="picture of Dr Purva R. Gawde"/>
           <p>Dr Purva R. Gawde</p>
           <h2>Contact Information</h2>
           <p>Email: purva.gawde@utoronto.ca</p>
           <p>Office: IC 484</p>
           <p>Phone: 647-601-4658</p>
           <h2>TA's</h2>
           <img src="./Assets/personpic1.png" alt="picture of random person in place for Rick"/>
           <img src="./Assets/personpic2.png" alt="picture of random person in place for Vidya"/>
           <p>Rick and Vidya</p>
        </div>
     </div>
      <div class="footer">
        <div class="footer-container">
           <a href="https://www.utsc.utoronto.ca/cms/faculty-of-computer-science" target="_blank" class="footer-link">Faculty of Computer Science at the University of Toronto Scarborough</a> 
           <div class="footer-credits"> &copy; Site by Roa Brahimi | Aniqa Khan | Zaamin Rattansi</div>
        </div>
     </div>
  </body>
</html>
    