<html>
   <link href='../static/anon.css' rel='stylesheet' />
   <body>
      <div class="nav">
         <nav class="nav-menu">
            <a href="home" class="nav-link">Home</a>
            <a href="/static/courseteam.html" class="nav-link">Course team</a>
            <a href="instructor-viewfeedback" class="nav-link w--current">Anon Feedback</a>
            <a href="/static/labs.html" class="nav-link">Labs</a>
            <a href="/static/asgmt.html" class="nav-link">Assignments</a>
            <a href="instructor-viewgrades" class="nav-link">Grades</a>
            <a href="https://markus.utsc.utoronto.ca/cscb20w22" target="_blank" class="nav-link">Markus</a>
            <a href="https://piazza.com/utoronto.ca/winter2022/cscb20h3" target="_blank" class="nav-link">Piazza</a>
            <a href="/" class="nav-link w--current">Log out</a>
         </nav>
      </div>
      <div class="header">
         <h1>Your Student Grades</h1>
      </div>
      <div class="content">
         <div class="content-container">
            <div align="center" class="button-div">
               <div class="grid ">

                  <div class="text-block">
                     <div class="text-block">First name</div>         
                     {% for a in names %}
                        {% for aid, num in a.items() %}
                        <div class="text-block">{{num}}</div>
                        {% endfor %}
                     {% endfor %}
                  </div>


               <div class="text-block">
                  <div class="text-block">Student number</div>         
                  {% for a in students %}
                     {% for aid, num in a.items() %}
                     <div class="text-block">{{num}}</div>
                     {% endfor %}
                  {% endfor %}
               </div>

               <div class="text-block">  
                  <div class="text-block">ID</div>     
               {% for a in assignments %}
                  {% for aid, num in a.items() %}
                  <div class="text-block">{{num}}</div>
                  {% endfor %}
               {% endfor %}
            </div>

            <div class="text-block">
               <div class="text-block">Mark</div>         
               {% for a in grades %}
                  {% for aid, num in a.items() %}
                  <div class="text-block">{{num}}</div>
                  {% endfor %}
               {% endfor %}
            </div>         

         </div>
               {% if not grades %}
                  <div>No Grades to view!</div>
               {% endif %}
            </div>
         </div>
      </div>
      <div class="footer">
         <div class="footer-container">
            <a href="https://www.utsc.utoronto.ca/cms/faculty-of-computer-science" target="_blank" class="footer-link">Faculty of Computer Science at the University of Toronto Scarborough</a> 
            <div class="footer-credits"> &copy; Site by Roa Brahimi | Aniqa Khan | Zaamin Rattansi</div>
         </div>
      </div>
   </body>
</html>