<html>
   <link href='../static/anon.css' rel='stylesheet' />
   <body>
      <div class="nav">
         <nav class="nav-menu">
            <a href="home" class="nav-link">Home</a>
            <a href="/static/courseteam.html" class="nav-link">Course team</a>
            <a href="instructor-viewfeedback" class="nav-link w--current">Anon Feedback</a>
            <a href="/static/labs.html" class="nav-link">Labs</a>
            <a href="/static/asgmt.html" class="nav-link">Assignments</a>
            <a href="documents/CSCB20_syllabus.pdf" class="nav-link">Syllabus</a>
            <a href="https://markus.utsc.utoronto.ca/cscb20w22" target="_blank" class="nav-link">Markus</a>
            <a href="https://piazza.com/utoronto.ca/winter2022/cscb20h3" target="_blank" class="nav-link">Piazza</a>
            <a href="/" class="nav-link w--current">Log out</a>
         </nav>
      </div>
      <div class="header">
         <h1>Your Student Feedback</h1>
      </div>
      <div class="content">
         <div class="content-container">
            <div align="center" class="button-div">
            {% for dict_item in anon_feedback %}
               {% for key, value in dict_item.items() %}
                  <h2>{{value}}</h2>
               {% endfor %}
            {% endfor %}
               
               {% if not anon_feedback %}
               <div>No feedback to view!</div>
               {% endif %}
            </div>
         </div>
      </div>
      <div class="footer">
         <div class="footer-container">
            <a href="https://www.utsc.utoronto.ca/cms/faculty-of-computer-science" target="_blank" class="footer-link">Faculty of Computer Science at the University of Toronto Scarborough</a> 
            <div class="footer-credits"> &copy; Site by Roa Brahimi | Aniqa Khan | Zaamin Rattansi</div>
         </div>
      </div>
   </body>
</html>