<html>
   <link href='../static/labs.css' rel='stylesheet' />
   <body>
      <div class="nav">
         <nav class="nav-menu">
            <a href="home" class="nav-link w--current">Home</a>
            <a href="courseteam" class="nav-link">Course team</a>
            <a href="instructor-viewfeedback" class="nav-link">Anon Feedback</a>
            <a href="labs" class="nav-link">Labs</a>
            <a href="assignments" class="nav-link">Assignments</a>
            <a href="instructor-viewgrades" class="nav-link">Grades</a>
            <a href="https://markus.utsc.utoronto.ca/cscb20w22" target="_blank" class="nav-link">Markus</a>
            <a href="https://piazza.com/utoronto.ca/winter2022/cscb20h3" target="_blank" class="nav-link">Piazza</a>
            <a href="/" class="nav-link w--current">Log out</a>
         </nav>
      </div>
      <div class="header">
         <div class="container">
            <p>Labs</p>
         </div>
     </div>
     <div class="content">
      <div class="content-container">
         <h1>Lab Sections</h1>
         <p>Please go the tutorial section that you signed up for on Acorn</p>
         <h2>Tutoral Exercises</h2>
         <p>Tutorials are held every week. The first tutorial week is week 2. Please make use of this valuable resource!</p>
         <p>Tutorial content will be updated weekly</p>
         <p><a target="_blank"  href="../static/documents/dummy.pdf"> Week 2 Tutorial</a></p>
         <p><a target="_blank"  href="../static/documents/dummy.pdf"> Week 3 Tutorial</a></p>
         <p><a target="_blank"  href="../static/documents/dummy.pdf"> Week 4 Tutorial</a></p>
         <p><a target="_blank"  href="../static/documents/dummy.pdf"> Week 5 Tutorial</a></p>
         <p><a target="_blank"  href="../static/documents/dummy.pdf"> Week 6 Tutorial</a></p>
         <p>Week 7 No Tutorial (Reading Week)</p>
         <p><a target="_blank"  href="../static/documents/dummy.pdf"> Week 8 Tutorial</a></p>
         <p><a target="_blank"  href="../static/documents/dummy.pdf"> Week 9 Tutorial</a></p>
         <p><a target="_blank"  href="../static/documents/dummy.pdf"> Week 10 Tutorial</a></p>
         <p><a target="_blank"  href="../static/documents/dummy.pdf"> Week 11 Tutorial</a></p>
         <p><a target="_blank"  href="../static/documents/dummy.pdf"> Week 12 Tutorial</a></p>


      </div>
   </div>
     <div class="footer">
      <div class="footer-container">
         <a href="https://www.utsc.utoronto.ca/cms/faculty-of-computer-science" target="_blank" class="footer-link">Faculty of Computer Science at the University of Toronto Scarborough</a> 
         <div class="footer-credits"> &copy; Site by Roa Brahimi | Aniqa Khan | Zaamin Rattansi</div>
      </div>
   </div>
   </body>
</html>