<html>
    <link type="text/css" href="{{url_for('static', filename='../static/login.css')}}" rel='stylesheet' />
   <body>
    <div class="header">
      <div class="container">
            <h1>Welcome to CSCB20!</h1></div>
      

    <div class="content-container">
      <div class="container">
        <h2>Please enter your Username and Password</h2></div>
      <!-- Prints the error message. -->
        {% with error_message = get_flashed_messages() %} {% if error_message %}
        <!-- Loops through the error messages. -->
        {% for error in error_message %}
        <p>{{ error }}</p>
        {% endfor %} {% endif %} {% endwith %}
      <form action="/api/login" method="POST">
         <input
           type="text"
           name="username"
           placeholder="username"
           size="50"
           required
         /><br />
         <input
           type="password"
           name="password"
           placeholder="password"
           size="50"
           required
         /><br />
         <input type="submit" value="Login" class="btn" />
         <br />
         <a href="signup" class="btn">Register</a>
       </form>
    </div>
  </div>
      <div class="footer">
         <div class="footer-container">
            <a href="https://www.utsc.utoronto.ca/cms/faculty-of-computer-science" target="_blank" class="footer-link">Faculty of Computer Science at the University of Toronto Scarborough</a> 
            <div class="footer-credits"> &copy; Site by Roa Brahimi | Aniqa Khan | Zaamin Rattansi</div>
         </div>
      </div>
   </body>
</html>