<html>
    <link type="text/css" href="{{url_for('static', filename='login.css')}}" rel='stylesheet' />
   <body>
      <div class="header">
            <h1>Welcome to CSCB20!</h1></div>
      
        <div class="content">
    <div class="content-container">
      <h2>Please enter your Username and Password</h2>
        {% with messages = get_flashed_messages() %} {% if messages %} {% for
        message in messages %}
        <p>{{ message }}</p>
        {% endfor %} {% endif %} {% endwith %}
      <form action="/api/signup" method="POST">
        <label for="firstname"> Please enter your first name below: </label>
        <input
          type="text"
          name="firstname"
          placeholder="First Name"
          title="Please only input letters."
          size="50"
          required
        /><br />

        <label for="lastname"> Please enter your last name below: </label>
        <input type="text" name="lastname" placeholder="Last Name""
        title="Please only input letters." size="50" required /><br />

        <label for="username"> Please enter your username below: </label>
        <input
          type="text"
          name="username"
          placeholder="Username"
          title="Please only input letters and/or digits."
          size="50"
          required
        /><br />

        <label for="password"> Please enter your password below: </label>
        <input
          type="password"
          name="password"
          placeholder="Password"
          title="Please only input letters and/or digits."
          size="50"
          required
        /><br />

        <label for="type"> Please enter if you are a student or instructor (s/i) </label>
        <input 
          type="text"
          name="type"
          placeholder="type"
          title="Please only input letters and/or digits."
          size="50"
          required
        /><br />

        <!-- Creates a submit button -->
        <input type="submit" value="Submit" class="btn"/>
        <br />
        <a href = "login" class = "btn">Login</a>
      </form>
    </div>
    </div>
      <div class="footer">
         <div class="footer-container">
            <a href="https://www.utsc.utoronto.ca/cms/faculty-of-computer-science" target="_blank" class="footer-link">Faculty of Computer Science at the University of Toronto Scarborough</a> 
            <div class="footer-credits"> &copy; Site by Roa Brahimi | Aniqa Khan | Zaamin Rattansi</div>
         </div>
      </div>
   </body>
</html>