<html>
   <link href='../static/index.css' rel='stylesheet' />
   <body>
      <div class="nav">
         <nav class="nav-menu">
            <a href="index.html" class="nav-link w--current">Home</a>
            <a href="courseteam.html" class="nav-link">Course team</a>
            <a href="anon.html" class="nav-link">Anon Feedback</a>
            <a href="labs.html" class="nav-link">Labs</a>
            <a href="asgmt.html" class="nav-link">Assignments</a>
            <a href="gradestudent.html" class="nav-link">Grades</a>
            <a href="https://markus.utsc.utoronto.ca/cscb20w22" target="_blank" class="nav-link">Markus</a>
            <a href="https://piazza.com/utoronto.ca/winter2022/cscb20h3" target="_blank" class="nav-link">Piazza</a>
         </nav>
      </div>
      <div class="header">
         <div class="container">
            <h1>CSCB20</h1>
            <p>Introduction to Databases and Web Applications</p>
            <a class="btn" href="documents/CSCB20_syllabus.pdf" target="_blank">Syllabus</a>
         </div>
      </div>
      <div class="content">
         <div class="content-container">
            <h1> Welcome</h1>
            <h2>Course Description</h2>
            <p>A practical introduction to databases and Web app development. Databases: terminology and applications; creating, querying and updating databases; the entity-relationship model for database design. Web documents and applications: static and interactive documents; Web servers and dynamic server-generated content; Web application development and interface with databases.</p>
            <h2>Prerequisite</h2>
            <p>Some experience with programming in an imperative language such as Python, Java or C.</p>
            <h2>Exclusion</h2>
            <p>This course may not be taken after - or concurrently with - any C- or D-level CSC course.</p>
         </div>
      </div>
      <div class="footer">
         <div class="footer-container">
            <a href="https://www.utsc.utoronto.ca/cms/faculty-of-computer-science" target="_blank" class="footer-link">Faculty of Computer Science at the University of Toronto Scarborough</a> 
            <div class="footer-credits"> &copy; Site by Roa Brahimi | Aniqa Khan | Zaamin Rattansi</div>
         </div>
      </div>
   </body>
</html>