<html>
    <link type="text/css" href="{{url_for('static', filename='student-remark.css')}}" rel='stylesheet' />
   <body>
    <div class="nav">
        <nav class="nav-menu">
         <a href="home" class="nav-link w--current">Home</a>
         <a href="courseteam-student" class="nav-link">Course team</a>
         <a href="feedback" class="nav-link">Anon Feedback</a>
         <a href="labs-student" class="nav-link">Labs</a>
         <a href="assignments-student" class="nav-link">Assignments</a>
         <a href="/student-marks" class="nav-link">Grades</a>
         <a href="https://markus.utsc.utoronto.ca/cscb20w22" target="_blank" class="nav-link">Markus</a>
         <a href="https://piazza.com/utoronto.ca/winter2022/cscb20h3" target="_blank" class="nav-link">Piazza</a>
         <a href="/" class="nav-link w--current">Log out</a>
        </nav>
     </div>
      <div class="header">
            <p>Remark Requests</p></div>
      
    <div class="content">
    <div class="content-container">

      <div align="center" class="button-div">
        <form class="grader" action="" method="POST">
        <label for="snum">Student Number: </label>
          <input class="login-box" type="text" maxlength="10" pattern="[0-9]{9,10}" placeholder="Student Number" name="snum" id="snum" required>
          <br><br>


          <label for="regrade-id">Select Assignment/Test:</label>
          <select id="regrade-id" name="regrade-id">
               <option value=1>A1</option>
               <option value=2>A2</option>
               <option value=3>A3</option>
               <option value=4>Midterm</option>
               <option value=5>Final</option>
          </select>
          <br><br>


        </select>
        <br><br>
        <label for="Reason">Reason for remark request</label>
        <input class="login-box" type="text" placeholder="Reason" name="reason" id="reason" required>
        <br><br>
        <button href="home" class="regrade-button" type="submit" name="submit-grade" id="submit-grade" onclick="">Submit Remark</button>
        </form>
      </div>

    </div></div>
      <div class="footer">
         <div class="footer-container">
            <a href="https://www.utsc.utoronto.ca/cms/faculty-of-computer-science" target="_blank" class="footer-link">Faculty of Computer Science at the University of Toronto Scarborough</a> 
            <div class="footer-credits"> &copy; Site by Roa Brahimi | Aniqa Khan | Zaamin Rattansi</div>
         </div>
      </div>
   </body>
</html>